{% extends 'secretary/layout.twig' %}

{% block contents %}
<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h4>Secretary Profile</h4>
    </div>
    <div class="card-body">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Name:</th>
            <td>{{ secretary.name }}</td>
          </tr>
          <tr>
            <th scope="row">Surname:</th>
            <td>{{ secretary.surname }}</td>
          </tr>
          <tr>
            <th scope="row">Role:</th>
            <td>Secretary</td>
          </tr>
          <tr>
            <th scope="row">Birthdate:</th>
            <td>{{ secretary.birthdate }}</td>
          </tr>
          <tr>
            <th scope="row">Email:</th>
            <td>{{ secretary.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
